# Vivado Project Files 
*.jou
*.log
*.str
*.bin
*.pb
*.vcd
*.wdb
*.backup
*.cache
*.tmp

# Vivado folders
.Xil/
.cache/
.hw/
.sim/
.runs/
.webtalk/
vivado_project_files/
project_*

# IP and synth generated content
.ip_user_files/
.gen/
*.xpr
*.xpr.backup

# VCS build artifacts
csrc/
simv*
simv*.daidir/
*.vdb/
urgReport/
ucli.key
DVEfiles/
inter.vpd

# Questa build artifacts
work/
transcript
vsim.wlf

# Zip and temp files
*.zip

# OS-specific Files 
.DS_Store
Thumbs.db

